body {
  margin: 0;
  background-color: darkgray;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#playfield {
  background-color: red;
  _position: relative;
}

.cell {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 8px;
  background-color: aquamarine;
}

.alive {
  background-color: black;
  transition: all 0.2s;
}

.dead {
  background-color: darkgray;
  transition: all 0.2s;
}
