body {
  margin: 0;
  background-color: darkgray;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#controls {
  background-color: dimgrey;
  margin: 10px;
  width: 200px;
  text-align: center;
  height: 80vh;
}

#controls button {
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  background-color: black;
  color: white;
  transition: all 0.2s;
  border: 0px;
}

#controls button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#controls input {
  width: 80%;
  margin: 0px;
  border: 0px;
  line-height: 280%;
  text-align: center;
}

#controls .inputinfo {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 4px;
}

#playfield {
  background-color: rgb(124, 124, 124);
  position: relative;
  width: 80vh;
  height: 80vh;
}

.cell {
  position: absolute;
  border-radius: 400px;
}

.alive {
  transition: all 0.2s;
  background-color: white;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.dead {
  transition: all 0.2s;
  z-index: 0;
  background-color: rgb(49, 49, 49);
  transform: scale(0.5, 0.5);
}
