body {
  margin: 0;
  background-color: darkgray;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#controls {
  background-color: dimgrey;
  margin: 10px;
  width: 200px;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#controls h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: normal;
  padding: 20px 0px 20px 0px;
  margin: 0px;
}

#controls #title {
  background-color: rgb(50, 50, 50);
}

.inputsection {
  flex: 1;
  padding-top: 10px;
}

#controls button {
  padding: 10px;
  width: 80%;
  background-color: black;
  color: white;
  transition: all 0.2s;
  border: 0px;
  margin-top: 10px;
}

#controls button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#controls input {
  width: 80%;
  margin: 0px;
  border: 0px;
  line-height: 280%;
  text-align: center;
  border-radius: 32px;
}

#controls .inputinfo {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 10px;
}

#playfield {
  _background-color: rgb(124, 124, 124);
  position: relative;
  width: 80vh;
  height: 80vh;
}

#controls .infotext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;

  font-size: xx-large;
}

.cell {
  position: absolute;
  border-radius: 0px;
}

.cell:hover {
  transition: all 0.2s;
  z-index: 1000;
  background-color: rgb(195, 236, 12);
  transform: scale(1, 1);
  cursor: pointer;
}

.alive {
  _transition: all 0.2s;
  background-color: rgb(255, 233, 106);
  box-shadow: 0px 10px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dead {
  _transition: all 0.2s;
  z-index: 0;
  background-color: rgb(85, 85, 85);
  transform: scale(0.4, 0.4);
}
